huggingface-hub==0.4.0
keras==2.8.0
Keras-Preprocessing==1.1.2
matplotlib==3.5.1
numpy==1.21.2
pandas==1.4.0
scikit-learn==1.0.2
scipy==1.4.1
seaborn==0.11.2
spacy==3.2.1
tensorboard==2.8.0
tensorflow==2.3.0
torch==1.10.2
transformers==4.16.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl